---
import Contact from "../components/Contacts.astro";
import LinkGroups from "../components/LinkGroups.astro";
import Profile from "../components/Profile.astro";
import Layout from "../layouts/Layout.astro";
import { fetchCockpit, cockpitImage } from "../lib/cockpit";

const profile = await fetchCockpit("/content/item/profile");
---

<Layout>
	<main class="relative">
		<div
			class="z-10 flex flex-col items-stretch gap-32"
			style="padding-top: 30vmin"
		>
			<Profile />
			<Contact />
			<LinkGroups />
		</div>
		<div class="absolute top-0 -z-20">
			<div
				id="background-img"
				class="w-screen -z-10"
				style=`height: 30vh; background-image: url(${cockpitImage(profile.background.path)}); background-size: cover; background-position: center;`
			>
			</div>
		</div>
	</main>

	<script>
		import simpleParallax from "simple-parallax-js";

		new simpleParallax(document.querySelector("#background-img")!, {
			orientation: "down",
			scale: 2,
		});

		console.log("Hello World");
	</script>
</Layout>
